.box06 {
  width: 200px;
  height: 100px;
}
.box06-red {
  background-color: red;
}
.box06-yellow {
  background-color: yellow;
}
.box06-green {
  background-color: green;
}
.box06-skyblue {
  background-color: skyblue;
}