.status-state {
  background: #eee;
}

.choose-state {
  background: #ddd;
}

.choose-input-state {
  background: #ccc;
}

.reducer-state {
  background: #ddd;
}

.reducer-context-state {
  background: #aaa;
}